.brand__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.brand__container > div{
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}